{% assign docs = site.data.docs | map: 'docs' | join: ',' %}
{% assign docs = "" | split: "," %}
{% for section in site.data.docs %}
  {% assign base_url = "/docs/" %}
  {% if section.category %}
  {% assign base_url = base_url | append: section.category | append: "/" %}
  {% endif %}
  {% for item in section.docs %}
    {% assign item_url = item | prepend: base_url | append: "/" %}
    {% assign docs = docs | push: item_url %}
  {% endfor %}
{% endfor %}

{% comment %}
Because this is built for every page, lets find where we are in the ordered
document list by comparing url strings. Then if there's something previous or
next, lets build a link to it.
{% endcomment %}

{% for document in docs %}
  {% if document == page.url %}
    <ul class="pager">
      {% if forloop.first %}
        <li class="previous disabled">
          <a>
            <span aria-hidden="true">&larr;</span> Previous
          </a>
        </li>
      {% else %}
        {% assign previous = forloop.index0 | minus: 1 %}
        {% assign previous_page = docs[previous] %}
        <li class="previous">
          <a href="{{ previous_page | relative_url }}">
            <span aria-hidden="true">&larr;</span> Previous
          </a>
        </li>
      {% endif %}

      {% if forloop.last %}
        <li class="next disabled">
          <a>
            Next <span aria-hidden="true">&rarr;</span>
          </a>
        </li>
      {% else %}
        {% assign next = forloop.index0 | plus: 1 %}
        {% assign next_page = docs[next] %}
        <li class="next">
          <a href="{{ next_page | relative_url }}">
            Next <span aria-hidden="true">&rarr;</span>
          </a>
        </li>
      {% endif %}
      </ul>
    <div class="clear"></div>
    {% break %}
  {% endif %}
{% endfor %}
