html {
  position: relative;
  min-height: 100%;
}
body {
  padding-top: $navbar-height + $navbar-margin-bottom;
  margin-bottom: 46px;
}
code {
  color: #ebdbb2;
  background-color: #282828;
}

.navbar-brand {
  img {
    margin: -$navbar-padding-vertical 0;
    height: $navbar-height;
    padding: 10px 0;
  }
}

.header-container {
  background-color: black;
  background: url("../img/bg.jpg") no-repeat 50% 0;
  color: #fff;

  h1 {
    color: #fff;
  }
  // background-attachment: fixed;
  background-size: cover;
  background-position: center 36%;
  margin-top: -37px;
}
.navbar-container {
  font-size: 16px;
}
.page-content {
  padding-bottom: 20px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 10px;
  background-color: #000;
  color: $gray-light;
}

.post-list-container {
  li a.active {
    font-weight: bold;
  }
}
*[id]:before {
  display: block;
  content: " ";
  margin-top: -75px;
  height: 75px;
  visibility: hidden;
}
.navbar-form .has-feedback .form-control-feedback {
  top: 10px;
}
.scroll-box-x {
  overflow-x: scroll;
}
.docs-container {
  padding: 0 1.5rem 0 0;

  .docs-navbar {
    position: fixed;
    height: calc(100vh - 60px);
    .navbar-fixed {
    }
  }
}
